<div class="jumbo">
    <h2>About Rescape</h2>
    <p>
        The Rescape website is a delightful project to show off my ideas
    </p>
    {{#link-to 'contact' class="button"}}
      Contact
    {{/link-to}}
</div>