<div class="jumbo">
    <h2>Contact</h2>
    <p>You should contact me to talk about what will happen soon.</p>
    <p>
      <p>
      Andy Likuski
      </p>
      <a href="mailto:andy@likuski.org">andy@likuski.org</a>
      <a href="tel:1.501.289.0902">+1.510.289.0902</a><br>
      <address>
        Oakland, CA, USA
      </address>
    </p>
    {{#link-to 'about' class="button"}}
      About
    {{/link-to}}
</div>
