<div class="jumbo">
    <h2>Welcome to Rescape!</h2>
    <p>
        Let's talk urbanism
    </p>
  {{#link-to 'about' class="button"}}
      About
  {{/link-to}}
  {{#link-to 'contact' class="button"}}
      Contact
  {{/link-to}}
</div>

{{#each state.documents.entries as |document|}}
  {{document-listing rental=document}}
{{/each}}